# Dependencies
node_modules

# Build
dist
dist-ssr
*.local

# TypeScript
*.tsbuildinfo

# Environment
.env
.env.*
!.env.example

# Editor
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# Logs
logs
*.log
npm-debug.log*
